html {
    box-sizing: border-box;
   }
   *, *:before, *:after {
    box-sizing: inherit;
}


body {
  background-color: #092327;
  color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
  position: relative;
}

.main {
  max-width: 1250px;
  margin: 0 auto;
}

.main__header {
  font-size: 1.5em;
  color: #e0ff4f;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  border-bottom: 2px solid #e0ff4f;
  padding-top: 80px;
}

.header {
  position: fixed;
}

.header__picture {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 100px;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
  background-color: rgba(9, 35, 39, 0.5);
}

.navigation__link {
  color: #e0ff4f;
  background-color: #00a9a5;
  border: 1px solid black;
  border-radius: 4px;
  padding: 8px;
  margin: 8px 0px;

}

.navigation__link:hover {
  color: #00a9a5;
  background-color: #e0ff4f;
  border: 1px solid black;
  border-radius: 4px;
  padding: 8px;
}

.navigation-weeks {
  background-color: #104f55;
  margin: 30px;
  padding: 20px;
  border-radius: 30px;
  text-align: center;
}

.navigation-weeks__title {
  display: flex;
  justify-content: center;
  font-size: 2em;
  padding-bottom: 30px;
  border-bottom: #092327 dashed 2px;
  margin: 0, 40px;
}

.navigation-weeks__href {
  color: white;
  background-color: #00a9a5;
  border: 1px solid #00a9a5;
  padding: 7px;
  border-radius: 4px;
}

.navigation-weeks__href:hover {
  background-color: white;
  color: #00a9a5;
}



.section-one {
  background-color: #104f55;
  margin: 30px;
  padding: 20px;
  border-radius: 30px;
}

.section-one__main-title {
  display: flex;
  justify-content: center;
  font-size: 2em;
  padding-bottom: 30px;
  border-bottom: #092327 dashed 2px;
  margin: 0, 40px;
}

.workweek {
  background-color: #104f55;
  margin: 30px;
  padding: 20px;
  border-radius: 30px;
}

.workweek__title {
  display: flex;
  justify-content: center;
  font-size: 2em;
  padding-bottom: 30px;
  border-bottom: #092327 dashed 2px;
  margin: 0, 40px;
}

.workweek__website {
  background-color: #00a9a5;
  margin: 10px;
  margin-top: 40px;
  padding: 20px;
  border-radius: 30px;
}

.workweek-border {
  display: inline-block;
  border: 2px solid white;
  padding: 15px;
  margin: 10px;
}
.container__week-description {
  display: flex;
  flex-direction: row;
}

.week-description {
  margin-bottom: 80px;
}

.week-description__paragraf--text-color {
  color: #e0ff4f;
  display: block;
}

.week-description__container {
  width: 250px;
  border: 1px solid black;
}

.week-description__image {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  right: 0;
}

.picture-boxmodel {
  width: 350px;
}

.span-point__two {
  background-color: green;
}

.span-point__three {
  background-color: rgb(27, 45, 201);
}

.span-point__four {
  background-color: orangered;
}

.span-point__five {
  background-color: darkred;
}

.homework {
  background-color: #00a9a5;
  margin: 10px;
  margin-top: 40px;
  padding: 20px;
  border-radius: 30px;
}

.important-link {
  color: #e0ff4f;
}

.jump {
  width: 20px;
  text-align: center;
  text-decoration: none;
  position: fixed;
  bottom: 12px;
  right: 12px;
  color: #e0ff4f;
  background-color: #00a9a5;
  padding: 4px;
  border: 1px solid black;
  border-radius: 4px;
  margin: 8px;
  
}

.footer {
  display: flex;
  justify-content: center;
  border-top: 2px solid #e0ff4f;
}

.event {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.button {
  margin: 16px;
  color: white;
  background-color: #24091a;
  border: 1px solid #00a9a5;
  padding: 7px;
  border-radius: 4px;
}

@media screen and (max-width: 756px) {
 body {
   font-size: 80%;
 }

 .main__header {
   margin-left: 16px;
   margin-right: 16px;
}

.navigation-weeks {
  
}

.wrapper__navigation-links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  
}

.navigation-weeks__href {
  margin: 4px;
  width: 100px;
}

 .week-description {
   padding-left: 8px;
 }

 .week-description__list {
  display: contents;
 }

 .important-link {
   word-break: break-all;
  
 }

 .workweek {
   margin: 20px;
 }

 .workweek__website {
   padding-left: 24px;
   margin: 0;
 }

 .picture-boxmodel {
   display: block;
   max-width: 100%;
   
 }

 .workweek-border {
   word-break: break-all;
 }
 .navigation {
  display: none;

}

.navigation--open {
  display: block;

}

.navigation__link {
  display: block;
  width: fit-content;
}

.navigation__button {
  position: absolute;
  top: 16px;
  
}

.header__picture {
  display: none;
}

}
